@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(https://cdn.bhdw.net/im/pages-of-books-wallpaper-79581_w635.webp);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset.container {
    background: linear-gradient(45deg, #cec3b5, #e6be74);
    min-width: 320px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0.2);
    opacity: 0.8;
    border-radius: 1rem;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #cec3b5, #e6be74);
}

.input-field input {
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.input-field input:focus {
    border-bottom: 2px solid #8e2de2;
}

.input-field input:focus + .underline::after {
    transform: scaleX(1);
    transform-origin: bottom right;
}

form {
    text-align: center; /* Centraliza o formulário */
}

form input[type="submit"] {
    margin-top: 2rem;
    margin-bottom: 2rem; /* Adicionei esta linha para espaçamento na parte inferior */
    padding: 0.4rem;
    background: #5a3e09; /* Cor marrom escuro */
    cursor: pointer;
    color: black;
    font-size: 0.9rem;
    font-weight: 300;
    border: none; /* Remove a borda */
    border-radius: 4px;
    transition: all 0.3s ease;
    width: 60%; /* Defina a largura desejada */
    margin-left: auto; /* Centraliza o botão à direita */
    margin-right: auto; /* Centraliza o botão à esquerda */
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: #5a3e09; /* Cor marrom escuro */
    transform: scale(1.1);
}

.input-field .underline::before,
.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    background: linear-gradient(45deg, #916609, #b35804);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.link {
    display: block;
    text-align: center;
    color: #4caf50;
    text-decoration: none;
    margin-top: 10px;
}

.authorized {
    font-weight: bold;
    color: green;
}

.unauthorized {
    font-weight: bold;
    color: red;
}
