body{
    background-image: radial-gradient(circle at 50% -20.71%, #fffff6 0, #fffbe1 16.67%, #faedcc 33.33%, #f2deb5 50%, #ebcf9f 66.67%, #e6c08c 83.33%, #e2b17a 100%);

}
img{
    width: 200px;
    border: 5px transparent;
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px ;
}

img:hover{
    border: 5px transparent;
    zoom: 200px;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 0px 0px 15px 2px #5F9EA0;
}

nav{
    background-image: linear-gradient(180deg, #9c5117 0, #b84e0896 25%, #d84f0ace 50%, #bb360691 75%, #c26851 100%);
    box-shadow: 0px 0px 15px 2px #e1b0ff;
}

/*button{
    /* margin-right: 135px; */
/*
